openapi: 3.0.0
info:
  description: >-
    Quản lý thông tin học viên tại Đoàn Thiếu Nhi Thánh Thể - Giáo Xứ Nam Hoà - Việt Nam.
  version: 2.2.6
  title: TNTT Nam Hoà
  contact:
    email: timmy88.it@gmail.com
externalDocs:
  description: Front-end Site
  url: 'http://tnttnamhoa.org'
servers:
  - url: 'http://new-api.tnttnamhoa.org/v1'
tags:
  - name: Đăng Nhập
    description: Json Web Token protocol
  - name: Trang Chủ
    description: Báo cáo chung cho hệ thống
  - name: Tài khoản
    description: Xử lý thông tin tài khoản
  - name: Lớp Học
    description: Xử lý thông tin lớp học
  - name: Khoá Học
    description: Xử lý thông tin khoá học
  - name: Chức Năng Chung
  - name: Lỗi
    description: Các lỗi hệ thống
paths:
  /dang-nhap:
    post:
      tags:
        - Đăng Nhập
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Auth'
      responses:
        200:
          $ref: '#/components/responses/Success'
  /page-not-found:
    get:
      tags:
      - Lỗi
      summary: Không tìm thấy trang
      responses:
        200:
          $ref: '#/components/responses/Success'
        404:
          $ref: '#/components/responses/PageNotFound'
  /trang-chu:
    get:
      tags:
        - Trang Chủ
      security:
        - httpBearer: []
      responses:
        200:
          $ref: '#/components/responses/Success'
        400:
          $ref: '#/components/responses/NoToken'
  /tai-khoan:
    get:
      tags:
      - Tài khoản
      summary: Lấy thông tin cơ bản
      security:
      - httpBearer: []
      parameters:
      - name: id
        in: query
        required: true
        schema:
          type: string
          example: HT000
      responses:
        200:
          $ref: '#/components/responses/Success'
        400:
          $ref: '#/components/responses/NoToken'
  /tai-khoan/{id}:
    get:
      tags:
      - Tài khoản
      summary: Lấy thông tin chi tiết
      security:
      - httpBearer: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
            example: 15002
          required: true
          description: ID tài khoản cần tìm.
      responses:
        200:
          $ref: '#/components/responses/Success'
        400:
          $ref: '#/components/responses/NoToken'
    post:
      tags:
      - Tài khoản
      summary: Cập nhật thông tin
      security:
      - httpBearer: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
            example: HT000
          required: true
          description: ID tài khoản cần tìm.
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              required:
              - ho_va_ten
              - ngay_sinh
              - mat_khau
              type: object
              properties:
                ho_va_ten:
                  type: string
                  example: Nguyễn Văn A
                ngay_sinh:
                  type: string
                  example: '2012-12-25'
                mat_khau:
                  type: integer
                  format: int32
                  example: 123456
        required: false
        x-send-file-in-body: false
      responses:
        200:
          $ref: '#/components/responses/Success'
        400:
          $ref: '#/components/responses/NoToken'
        403:
          $ref: '#/components/responses/AccessDenied'
  /resize:
    get:
      tags:
      - Chức Năng Chung
      security:
      - httpBearer: []
      summary: Tai-Khoan-Resize
      responses:
        200:
          $ref: '#/components/responses/Success'
  /tai-khoan/export:
    get:
      tags:
      - Chức Năng Chung
      security:
      - httpBearer: []
      summary: Tai-Khoan-Download
      parameters:
      - name: Content-Type
        in: header
        required: true
        style: simple
        schema:
          type: string
          example: application/json
      responses:
        200:
          $ref: '#/components/responses/Success'
  /lop-hoc/khoa-2017:
    get:
      tags:
      - Chức Năng Chung
      security:
      - httpBearer: []
      summary: Lop Hoc
      parameters:
      - name: Content-Type
        in: header
        required: true
        style: simple
        schema:
          type: string
          example: application/json
      responses:
        200:
          $ref: '#/components/responses/Success'
  /lop-hoc/100/chuyen-can:
    get:
      tags:
      - Chức Năng Chung
      security:
      - httpBearer: []
      summary: Lop Hoc- Chuyen Can
      parameters:
      - name: ngay_hoc
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: string
          example: 2017-09-03
      - name: Content-Type
        in: header
        required: true
        style: simple
        schema:
          type: string
          example: application/json
      responses:
        200:
          $ref: '#/components/responses/Success'
  /lop-hoc:
    post:
      tags:
      - Chức Năng Chung
      security:
      - httpBearer: []
      summary: Lop Hoc -TaoMoi
      parameters:
      - name: Content-Type
        in: header
        required: true
        style: simple
        schema:
          type: string
          example: application/x-www-form-urlencoded
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              required:
              - khoa_hoc_id
              - nganh
              - cap
              - doi
              type: object
              properties:
                khoa_hoc_id:
                  type: integer
                  format: int32
                  example: 2017
                nganh:
                  type: string
                  example: AU_NHI
                cap:
                  type: integer
                  format: int32
                  example: 1
                doi:
                  type: integer
                  format: int32
                  example: 1
        required: false
        x-send-file-in-body: false
      responses:
        200:
          $ref: '#/components/responses/Success'
  /lop-hoc/1:
    get:
      tags:
      - Chức Năng Chung
      security:
      - httpBearer: []
      summary: Lop Hoc Chi Tiet
      parameters:
      - name: Content-Type
        in: header
        required: true
        style: simple
        schema:
          type: string
          example: application/json
      responses:
        200:
          $ref: '#/components/responses/Success'
  /khoa-hoc:
    get:
      tags:
      - Chức Năng Chung
      security:
      - httpBearer: []
      summary: /khoa-hoc
      parameters:
      - name: Content-Type
        in: header
        required: true
        style: simple
        schema:
          type: string
          example: application/json
      responses:
        200:
          $ref: '#/components/responses/Success'
  /lop-hoc/lanh-thuong:
    get:
      tags:
      - Chức Năng Chung
      security:
      - httpBearer: []
      summary: /lop-hoc/lanh-thuong
      parameters:
      - name: Content-Type
        in: header
        required: true
        style: simple
        schema:
          type: string
          example: application/json
      responses:
        200:
          $ref: '#/components/responses/Success'
  /api/khoa-hoc/2017:
    get:
      tags:
      - Chức Năng Chung
      security:
      - httpBearer: []
      summary: Khoa Hoc Chi Tiet
      parameters:
      - name: Content-Type
        in: header
        required: true
        style: simple
        schema:
          type: string
          example: application/json
      responses:
        200:
          $ref: '#/components/responses/Success'
  /lop-hoc/1/tong-ket:
    get:
      tags:
      - Chức Năng Chung
      security:
      - httpBearer: []
      summary: TongKet
      parameters:
      - name: Content-Type
        in: header
        required: true
        style: simple
        schema:
          type: string
          example: application/json
      responses:
        200:
          $ref: '#/components/responses/Success'
  /nhom-tai-khoan:
    get:
      tags:
      - Chức Năng Chung
      security:
      - httpBearer: []
      summary: Nhom-Tai-Khoan
      parameters:
      - name: Content-Type
        in: header
        required: true
        style: simple
        schema:
          type: string
          example: application/json
      responses:
        200:
          $ref: '#/components/responses/Success'
components:
  schemas:
    Auth:
      title: Auth
      required:
        - id
        - password
      type: object
      properties:
        id:
          type: string
        password:
          type: string
      example:
        id: HT000
        password: 123456
  securitySchemes:
    httpBearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
  responses:
    NoToken:
      description: Access token bị thiếu hoặc lỗi.
    PageNotFound:
      description: Trang không tồn tại.
    Success:
      description: Xử lý thành công.
    AccessDenied:
      description: Tài khoản bị giới hạn quyền thao tác.