<div class="ibox-title">
  <h5>Thư Mời</h5>
</div>
<div class="ibox-content" [class.sk-loading]="isLoading">
  <div class="sk-spinner sk-spinner-three-bounce">
    <div class="sk-bounce1"></div>
    <div class="sk-bounce2"></div>
    <div class="sk-bounce3"></div>
  </div>
  <form [formGroup]="formGroup" class="row form-horizontal">
    <div class="form-group col-sm-12">
      <label class="col-md-2 control-label">Ngày</label>
      <div class="col-md-10">
        <input type="text" name="ngay" placeholder="Vd: 31-12-2000" [textMask]="maskOption" formControlName="ngay" class="form-control">
      </div>
    </div>
    <div class="form-group col-sm-12">
      <label class="col-md-2 control-label">Họ và Tên</label>
      <div class="col-md-10">
        <p class="form-control-static" *ngIf="selectedItem">{{selectedItem.ten_thanh}} {{selectedItem.ho_va_ten}} - {{selectedItem.lop_hoc[0]['ten']}}</p>
        <input (keyup)="filter$.next($event.target.value)" placeholder="Lọc theo tên..." type="text" class="form-control">
        <div class="table-responsive">
          <table class="table table-hover table-bordered">
            <thead>
              <tr>
                <th class="text-center">Tên</th>
                <th class="text-center">Lớp</th>
                <th class="text-center">Thao Tác</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let _item of taiKhoanArr | paginate: pagingTN; let _i = index">
                <td>{{_item.ho_va_ten}}</td>
                <td>
                  {{_item.lop_hoc[0]['ten']}}
                </td>
                <td>
                  <button (click)="selectedItem = _item" class="btn btn-default btn-xs">Chọn</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <app-paging [id]="pagingTN.id" (pageChange)="pagingTN.currentPage = $event;"></app-paging>
      </div>
    </div>
    <div [class.has-error]="error && error.ghi_chu" class="form-group col-sm-12">
      <label class="col-md-2 control-label">Ghi Chú</label>
      <div class="col-md-10">
        <textarea formControlName="ghi_chu" class="form-control" rows="20"></textarea>
      </div>
    </div>
  </form>
</div>
<div class="ibox-footer" *ngIf="!isLoading">
  <button (click)="cancel()" class="btn btn-default btn-sm m-l-lg">Thoát</button>
  <button (click)="save()" [disabled]="!(selectedItem && formGroup.value.ngay)" class="btn btn-primary btn-sm m-l-lg">Lưu</button>
</div>