<div class="middle-box text-center loginscreen  animated fadeInDown" style="padding-top: 100px">
  <div>
    <h2>TNTT Nam Hòa</h2>
    <div *ngIf="errorMessage|async" class="alert alert-danger">
      {{ errorMessage|async }}
    </div>
    <form class="m-t" role="form" action="#">
      <div class="form-group">
        <input type="text" [(ngModel)]="credential.id" name="id" required class="form-control" placeholder="Mã Số">
      </div>
      <div class="form-group">
        <input type="password" [(ngModel)]="credential.password" name="password" required class="form-control" placeholder="Mật Khẩu">
      </div>
      <div *ngIf="isLoading|async" class="sk-spinner sk-spinner-three-bounce">
        <div class="sk-bounce1"></div>
        <div class="sk-bounce2"></div>
        <div class="sk-bounce3"></div>
      </div>
      <div class="text-center block">
        <button *ngIf="!(isLoading|async)" [disabled]="!credential.id || !credential.password" type="submit" (click)="onLogin()" class="btn btn-primary  m-b">
          Đăng Nhập
        </button>
      </div>
    </form>
  </div>
</div>