<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
      <li class="nav-header">
        <div class="dropdown profile-element">
          <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <span class="clear"> 
              <span class="block m-t-xs"> <strong class="font-bold">AngularWebApp</strong></span>
            </span>
          </a>
        </div>
        <div class="logo-element">
          +
        </div>
      </li>
      <li [ngClass]="{active: activeRoute('/trang-chu')}">
        <a routerLink="/trang-chu">
          <i class="fa fa-home"></i>
          <span class="nav-label">Trang Chủ</span>
        </a>
      </li>
      <li [ngClass]="{active: activeRoute('/tai-khoan')}">
        <a routerLink="/tai-khoan">
          <i class="fa fa-users"></i>
          <span class="nav-label">Tài Khoản</span>
        </a>
      </li>
      <li [ngClass]="{active: activeRouteAbsolute('/tai-khoan') || activeRoute('/tai-khoan/chi-tiet')}">
        <a routerLink="/tai-khoan">
          <span class="nav-label second-line">+ Danh Sách</span>
        </a>
      </li>
      <li [ngClass]="{active: activeRoute('/tai-khoan/tao-moi')}">
        <a routerLink="/tai-khoan/tao-moi">
          <span class="nav-label second-line">+ Tạo Mới</span>
        </a>
      </li>
      <li [ngClass]="{active: activeRoute('/tai-khoan/mat-khau')}">
        <a routerLink="/tai-khoan/mat-khau">
          <span class="nav-label second-line">+ Mật Khẩu</span>
        </a>
      </li>
      <li *ngIf="phanQuyen['tai-khoan']" [ngClass]="{active: activeRoute('/khoa-hoc')}">
        <a routerLink="/khoa-hoc">
          <i class="fa fa fa-bookmark"></i>
          <span class="nav-label">Khóa Học</span>
        </a>
      </li>
    </ul>
  </div>
</nav>