<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
      <li class="nav-header">
        <div class="dropdown profile-element">
          <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <span class="clear"> 
              <span class="block m-t-xs"> <strong class="font-bold">AngularWebApp</strong></span>
            </span>
          </a>
        </div>
        <div class="logo-element">
          +
        </div>
      </li>
      <li [ngClass]="{active: activeRoute('/trang-chu')}">
        <a routerLink="/trang-chu">
          <i class="fa fa-users"></i>
          <span class="nav-label">Tài Khoản</span>
        </a>
      </li>
      <li *ngIf="phanQuyen.taiKhoan" [ngClass]="{active: activeRoute('/khoa-hoc')}">
        <a routerLink="/khoa-hoc">
          <i class="fa fa fa-bookmark-o"></i>
          <span class="nav-label">Khóa Học</span>
        </a>
      </li>
    </ul>
  </div>
</nav>