<div class="ibox-content" [class.sk-loading]="isLoading">
  <div class="sk-spinner sk-spinner-three-bounce">
    <div class="sk-bounce1"></div>
    <div class="sk-bounce2"></div>
    <div class="sk-bounce3"></div>
  </div>
  <div class="row">
    <div class="col-md-12 table-responsive">
      <form [formGroup]="formGroup">
        <table class="table table-hover table-bordered">
          <thead>
            <tr>
              <th class="text-center">#</th>
              <th>Họ và Tên</th>
              <th>Nhận Xét</th>
            </tr>
          </thead>
          <tbody formArrayName="thieu_nhi">
            <ng-container *ngFor="let _item of formGroup.controls.thieu_nhi.controls | paginate: pagingTN; let _i = index">
              <tr [formGroupName]="((pagingTN.currentPage - 1) * pagingTN.itemsPerPage ) + _i">
              <td class="text-center">
                  {{((pagingTN.currentPage - 1) * pagingTN.itemsPerPage ) + _i + 1}}
                </td>
                <td> {{_item.get('ho_va_ten').value}}</td>
                <td>
                  <input type="text" name="nhan_xet" formControlName="nhan_xet" class="form-control input-sm">
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <pagination-template #ep="paginationApi" [id]="pagingTN.id" (pageChange)="pagingTN.currentPage = $event;">
        <div class="text-center">
          <div class="btn-group">
            <button *ngIf="ep.isFirstPage()" type="button" class="btn btn-sm btn-white disabled"><i class="fa fa-chevron-left"></i></button>
            <button (click)="ep.previous()" *ngIf="!ep.isFirstPage()" type="button" class="btn btn-sm btn-white"><i class="fa fa-chevron-left"></i></button>
            <ng-container *ngFor="let page of ep.pages">
              <button *ngIf="ep.getCurrent() !== page.value" (click)="ep.setCurrent(page.value)" class="btn btn-sm btn-white">{{ page.label }}</button>
              <button *ngIf="ep.getCurrent() === page.value" class="btn btn-sm btn-white active">{{ page.label }}</button>
            </ng-container>
            <button *ngIf="ep.isLastPage()" type="button" class="btn btn-sm btn-white disabled"><i class="fa fa-chevron-right"></i></button>
            <button (click)="ep.next()" *ngIf="!ep.isLastPage()" type="button" class="btn btn-sm btn-white"><i class="fa fa-chevron-right"></i></button>
          </div>
        </div>
      </pagination-template>
    </div>
  </div>
</div>
<div class="ibox-footer" *ngIf="!isLoading">
  <button (click)="cancel()" class="btn btn-default btn-sm m-l-lg">Thoát</button>
  <button (click)="save()" class="btn btn-primary btn-sm m-l-lg">Lưu</button>
</div>