<div class="row border-bottom">
  <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
      <a class="minimalize-styl-2 btn btn-primary " (click)="toggleNavigation()"><i class="fa fa-bars"></i> </a>
    </div>
    <ul class="nav navbar-top-links navbar-right">
      <li *ngIf="taiKhoan">
        <a [routerLink]="['/tai-khoan/chi-tiet', taiKhoan.id]">
          <span class="m-r-sm text-muted welcome-message">{{taiKhoan.ten_thanh}} {{taiKhoan.ho_va_ten}}</span>
        </a>
      </li>
      <li *ngIf="lopID">
        <a [routerLink]="['/lop-hoc/chi-tiet', lopID, 'diem-danh']">
          <span class="m-r-sm text-muted welcome-message">Điểm Danh</span>
        </a>
      </li>
      <li *ngIf="lopID">
        <a [routerLink]="['/lop-hoc/chi-tiet', lopID, 'diem-so']">
          <span class="m-r-sm text-muted welcome-message">Vào Điểm</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/dang-xuat']">
          <i class="fa fa-sign-out"></i> Đăng Xuất
        </a>
      </li>
    </ul>
  </nav>
</div>