<div class="wrapper wrapper-content animated fadeInRight">
  <div class="ibox">
    <div class="ibox-title">
      <h5>Danh Sách Thiết Bị</h5>
      <div class="ibox-tools" *ngIf="hasPerm()">
        <button (click)="itemSelected = {}; openModalBtn.click();" class="btn btn-xs btn-default m-r-lg">
          Thêm Thiết Bị
        </button>
        <button [routerLink]="['cap-nhat']" class="btn btn-xs btn-default m-r-lg" *ngIf="hasPerm()">
          Cập Nhật
        </button>
      </div>
    </div>
    <div class="ibox-content" [class.sk-loading]="isLoading">
      <div class="sk-spinner sk-spinner-three-bounce">
        <div class="sk-bounce1"></div>
        <div class="sk-bounce2"></div>
        <div class="sk-bounce3"></div>
      </div>
      <div class="row m-b">
        <div class="col-sm-6">
          <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label (click)="filterTT = ''; changFilter$.next(filterTT)" class="btn btn-sm btn-white" [ngClass]="{active: filterTT == ''}">Tất Cả</label>
            <label (click)="filterTT = 'DANG_MUON'; changFilter$.next(filterTT)" class="btn btn-sm btn-white" [ngClass]="{active: filterTT == 'DANG_MUON'}">Đang Mượn</label>
            <label (click)="filterTT = 'DA_TRA'; changFilter$.next(filterTT)" class="btn btn-sm btn-white" [ngClass]="{active: filterTT == 'DA_TRA'}">Đã Trả</label>
          </div>
        </div>
        <div class="col-sm-6">
          <input (keyup)="search$.next($event.target.value)" placeholder="Tìm" type="text" class="form-control form-control-sm">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 table-responsive">
          <table *ngIf="thietBiArr.length" class="table table-hover table-bordered tooltip-thietbi">
            <thead>
              <tr>
                <th class="text-center">#</th>
                <th>Tên Thiết Bị</th>
                <th class="text-center" *ngFor="let _ngay of ngayArr"> {{ _ngay | ngay }} </th>
                <th class="text-center">Thao Tác</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let _item of thietBiArr | paginate: pagingTN; let _i = index">
                <tr>
                  <td class="text-center">
                    {{((pagingTN.currentPage - 1) * pagingTN.itemsPerPage ) + _i + 1}}
                  </td>
                  <td>{{_item.ten}}</td>
                  <ng-container *ngFor="let _ngay of ngayArr">
                    <td class="text-center checked" data-toggle="tooltip" data-placement="left" title="{{_item.ten}}">
                      <ng-container *ngIf="_item.trang_thai === 'DANG_MUON' && _ngay <= _item.ngay_tra && _ngay >= _item.ngay_muon">
                        <button class="btn btn-primary btn-xs btn-circle" type="button"><i class="fa fa-check"></i></button>
                      </ng-container>
                    </td>
                  </ng-container>
                  <td class="text-center">
                    <button class="btn btn-xs btn-default" (click)="itemSelected = _item; openModalBtn.click();">Xem</button>
                    <button class="btn btn-xs btn-danger" (click)="itemSelected = _item; confimModelBtn.click()" *ngIf="hasPerm()">Xóa</button>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <app-paging [id]="pagingTN.id" (pageChange)="pagingTN.currentPage = $event;"></app-paging>
        </div>
      </div>
    </div>
  </div>
</div>

<a class="btn-open-modal" data-toggle="modal" data-target="#confimModel" #confimModelBtn></a>
<div class="modal inmodal" id="confimModel" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" *ngIf="itemSelected">
    <div class="modal-content animated bounceInRight">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <h4>
          Bạn muốn xóa thiết bị {{itemSelected.ten}}?
        </h4>
      </div>
      <div class="modal-footer text-center">
        <button type="button" class="btn btn-w-m btn-warning" data-dismiss="modal" #closeConfimModel>Không</button>
        <button type="button" class="btn btn-w-m btn-primary" (click)="closeConfimModel.click(); xoa(itemSelected);">Có</button>
      </div>
    </div>
  </div>
</div>

<a class="btn-open-modal" data-toggle="modal" data-target="#tmpModel" #openModalBtn></a>
<div class="modal inmodal" id="tmpModel" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" *ngIf="itemSelected">
    <div class="modal-content animated bounceInRight">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title">
          Thiết Bị
        </h4>
      </div>
      <div class="modal-body">
        <form action="#" class="form-horizontal">
          <ng-container *ngIf="!itemSelected.id">
            <div class="form-group">
              <label class="col-md-2 control-label">Tên</label>
              <div class="col-md-10">
                <input type="text" name="ten" class="form-control" [(ngModel)]="itemSelected.ten">
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="itemSelected.id">
            <div *ngIf="itemSelected.ten" class="form-group">
              <label class="col-xs-4 control-label">Tên thiết bị:</label>
              <div class="col-xs-8">
                <p class="form-control-static">{{itemSelected.ten}}</p>
              </div>
            </div>
            <div *ngIf="itemSelected.ten_tai_khoan" class="form-group">
              <label class="col-xs-4 control-label">Huynh Trưởng:</label>
              <div class="col-xs-8">
                <p class="form-control-static">{{itemSelected.ten_tai_khoan}}</p>
              </div>
            </div>
            <div *ngIf="itemSelected.ngay_muon" class="form-group">
              <label class="col-xs-4 control-label">Ngày Mượn:</label>
              <div class="col-xs-8">
                <p class="form-control-static">{{itemSelected.ngay_muon | ngay}}</p>
              </div>
            </div>
            <div *ngIf="itemSelected.ngay_tra" class="form-group">
              <label class="col-xs-4 control-label">Ngày Trả:</label>
              <div class="col-xs-8">
                <p class="form-control-static">{{itemSelected.ngay_tra | ngay}}</p>
              </div>
            </div>
            <div *ngIf="itemSelected.ghi_chu" class="form-group">
              <label class="col-xs-4 control-label">Ghi chú:</label>
              <div class="col-xs-8">
                <p class="form-control-static line-breake">{{itemSelected.ghi_chu}}</p>
              </div>
            </div>
          </ng-container>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal" #closeCreateModel>Thoát</button>
        <button *ngIf="!itemSelected.id" (click)="closeCreateModel.click(); luu(itemSelected);" type="button" class="btn btn-primary btn-sm" data-dismiss="modal">Lưu</button>
      </div>
    </div>
  </div>
</div>