table {
  th {
    vertical-align: middle;
  }
  td,
  th {
    white-space: nowrap;
    &.checked button {
      cursor: default;
    }
  }
}

div.checkbox {
  display: inline-block;
}

.line-breaker {
  white-space: pre-line;
}