<div class="wrapper wrapper-content animated fadeInRight">
  <div class="ibox-content m-b-sm border-bottom" [class.sk-loading]="isLoading">
    <div class="sk-spinner sk-spinner-three-bounce">
      <div class="sk-bounce1"></div>
      <div class="sk-bounce2"></div>
      <div class="sk-bounce3"></div>
    </div>
    <div class="text-center" *ngIf="lopHocInfo">
      <h3>{{lopHocInfo.ten}}</h3>
      <h5 *ngIf="lopHocInfo.vi_tri_hoc">Vị Trí Học: {{lopHocInfo.vi_tri_hoc}}</h5>
      <button [disabled]="activeRoute('thong-tin')" [routerLink]="['/lop-hoc/chi-tiet', lopHocInfo.id, 'thong-tin']" class="btn btn-default btn-sm m-l-lg m-t-sm btn-w-m">Thông Tin</button>
      <button [disabled]="activeRoute('diem-danh')" [routerLink]="['/lop-hoc/chi-tiet', lopHocInfo.id, 'diem-danh']" class="btn btn-default btn-sm m-l-lg m-t-sm btn-w-m">Điểm Danh</button>
      <button [disabled]="activeRoute('diem-so')" [routerLink]="['/lop-hoc/chi-tiet', lopHocInfo.id, 'diem-so']" class="btn btn-default btn-sm m-l-lg m-t-sm btn-w-m">Vào Điểm</button>
      <button [disabled]="activeRoute('tong-ket')" [routerLink]="['/lop-hoc/chi-tiet', lopHocInfo.id, 'tong-ket']" class="btn btn-default btn-sm m-l-lg m-t-sm btn-w-m">Tổng Kết</button>
      <!-- <button [routerLink]="['/lop-hoc/chi-tiet', lopHocInfo.id, 'phieu-lien-lac']" class="btn btn-default btn-sm m-l-lg m-t-sm btn-w-m">Phiếu L/Lạc</button> -->
    </div>
  </div>
  <router-outlet></router-outlet>
</div>